# Data Exploration

In [1]:
import pandas as pd 
data = pd.read_csv('../raw_data/data.csv')

In [2]:
data = data.drop(columns='Unnamed: 0')

In [3]:
data.head()

,title,text,label
0,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,0
1,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",0
2,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,0
3,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,0
4,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",0

In [4]:
len(data)

64962

In [28]:
def get_data(): 
    df = pd.read_csv('../raw_data/data.csv')
    df['totalwords'] = [len(x.split()) for x in df['text'].tolist()]
    df = df.query(f'totalwords<2000')
    df_sample = df.sample(frac=1, random_state=3)
    df_sample = df_sample.reset_index(drop=True)
    df_sample.drop(columns=('totalwords'), inplace=True)
    return df_sample

In [30]:
data1 = get_data()
len(data1)

63735

In [10]:
 data['totalwords'] = [len(x.split()) for x in data['text'].tolist()]

In [12]:
def reduce_df(tmp,upperlimit):
#     df = pd.read_csv('../raw_data/data.csv')
    tmp2 = tmp.query(f'totalwords<{upperlimit}')
    return tmp2

In [18]:
data2 = reduce_df(data, 2000)
len(data2)

63735

In [ ]:
data['totalwords'] = [len(x.split()) for x in data['text'].tolist()]

In [ ]:
# len(data.query('totalwords > 10000'))
# len(data[data['totalwords'] > 10000])

In [ ]:
# thresholds = [500, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000, 20000]
# articles = []
# for threshold in thresholds:
#     articles.append(len(data[data['totalwords'] > threshold]))

# d = {'Threshold - Number of words' : thresholds, 'Number of Articles' : articles}
# df = pd.DataFrame(d)

In [ ]:
data.drop(data[data.totalwords > 2000].index, inplace=True)

In [ ]:
len(data)